input {
    background-color: var(--color-input-background);
    outline: 1px solid var(--color-unselected-control-frame);
    border: none;
    //animation: input-frame-unselected 500ms ease both; // TODO: make this work

    &:hover {
        animation: input-frame-hovered 500ms ease forwards; // TODO: make reverse animation for this
    }
    &:focus {
        //outline: 1px solid var(--color-selected-control-frame);
        animation: input-frame-selected 500ms ease forwards;
    }

    &:disabled,
    &.is-disabled {
        background-color: var(--color-disabled-control-background);
        color: var(--color-disabled-control-foreground);
        border: 1px inset var(--color-input-background);
        outline: 1px solid var(--color-disabled-control);
        animation: none !important;
    }
}

input:not([type="range"]):not([type="checkbox"]):not([type="radio"]) {
    //box-shadow: var(--shadow-input);
    height: 23px;
    width: 100%;
}

@keyframes input-frame-selected {
    0% {}
    100% {
        outline: 1px solid var(--color-selected-control-frame);
    }
}
@keyframes input-frame-unselected {
    0% {
        outline: 1px solid var(--color-unselected-control-frame) !important;
    }
    100% {}
}
@keyframes input-frame-hovered {
    0% {}
    100% {
        outline: 1px solid var(--color-unselected-control-frame-hover);
    }
}