input[type="checkbox"] {
    width: 11px;
    height: 11px;
    position: relative;
    appearance: none;
    outline: 1px solid var(--color-unselected-control-frame-hover); // intended

    &:hover {
        animation: none !important;
        outline: 1px solid var(--color-selected-control-frame);
    }
    &:disabled,
    &.is-disabled {
        outline: 1px solid var(--color-disabled-control-frame);
        border: none;
    }
    &:active {
        outline: 1px solid var(--color-button-clicked-frame);
    }

    &:checked::after {
        content: "";
        position: relative;
        width: 11px;
        height: 11px;
        background-image: url("./res/CheckBox_Checked.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
    }
    &:active:checked:not(:disabled):not(.is-disabled)::after {
        content: "";
        filter: sepia(100%) hue-rotate(190deg) saturate(200%) !important;
    }
    &:hover:checked:not(:disabled):not(.is-disabled)::after {
        content: "";
        filter: sepia(100%) hue-rotate(190deg) saturate(500%);
    }
    &:disabled:checked::after,
    &.is-disabled:checked::after {
        content: "";
        filter: sepia(100%) hue-rotate(150deg) brightness(0.8) grayscale(100%) contrast(0.2) brightness(1.68);
    }
}