input[type="color"] {
    position: relative; // i've decided to not show the dropdown icon
    background-repeat: no-repeat;

    &:disabled,
    &.is-disabled {
        background-repeat: no-repeat;
    }
}