// TODO: Fix for Firefox

input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    height: 100%;
    aspect-ratio: 16 / 18;
    border: 1px inset var(--color-number-button-frame);
    outline: 1px solid var(--color-number-button-frame-outer);
    background: var(--color-button-background-gradient);
}