input[type="radio"] {
  width: 14px;
  height: 14px;
  position: relative;
  appearance: none;
  outline: 1px solid var(--color-unselected-control-frame-hover); // intended
  border-radius: 50%;

  &:focus {
    animation: none !important;
    outline: 1px solid var(--color-selected-control-frame); // intended too
  }

  &:hover {
    animation: none !important;
    outline: 1px solid var(--color-selected-control-frame);
  }

  &:disabled,
  &.is-disabled {
    outline: 1px solid var(--color-disabled-control);
    border: none;
  }

  &:checked {
    &:after {
      content: "";
      width: 10px;
      height: 10px;
      background: var(--color-global-foreground); // TODO: fix color in other condition
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 2px;
      left: 2px;
    }
  }
}