input[type="radio"] {
  width: 11px;
  height: 11px;
  position: relative;
  appearance: none;
  outline: 1px solid var(--color-unselected-control-frame-hover); // intended
  border-radius: 50%;

  &:focus {
    animation: none !important;
    outline: 1px solid var(--color-selected-control-frame); // intended too
  }

  &:hover {
    animation: none !important;
    outline: 1px solid var(--color-selected-control-frame);
  }

  &:disabled,
  &.is-disabled {
    outline: 1px solid var(--color-disabled-control-frame);
    border: none;
  }
  &:active {
    outline: 1px solid var(--color-button-clicked-frame);
  }

  &:active:checked:not(:disabled):not(.is-disabled)::after {
    content: "";
    background: var(--color-button-clicked-frame) !important;
  }
  &:checked::after {
    content: "";
    width: 7px;
    height: 7px;
    background: var(--color-global-foreground);
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
  }
  &:hover:checked:not(:disabled):not(.is-disabled)::after {
    content: "";
    background: var(--color-selected-control-frame);
  }
  &:disabled:checked::after,
  &.is-disabled:checked::after {
    content: "";
    background: var(--color-disabled-control-frame);
  }
}