input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  height: 19px;
  animation: none !important;
  outline: none;

  &:hover, &:focus {
    animation: none !important;
  }
}

// For some reason doesn't work when put inside of the above styling
// Also doesn't work when using both webkit and moz selectors together
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border: 1px solid var(--color-range-border);
  background: var(--color-range-background);
}

input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  border: 1px solid var(--color-range-border);
  background: var(--color-range-background);
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-selected-background);
  clip-path: polygon(0 0, 100% 0, 100% 14px, 50% 100%, 0 14px);
  width: 11px;
  height: 19px;
  margin-top: -5px;
  &:active {
    background: var(--color-range-border) !important;
  }
  &:hover {
    background: var(--color-unselected-control-frame-hover);
  }
}

input[type="range"]::-moz-range-thumb {
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  background: var(--color-selected-background);
  clip-path: polygon(0 0, 100% 0, 100% 14px, 50% 100%, 0 14px);
  width: 11px;
  height: 19px;
  margin-top: -5px;
  border: none;
  background-color: transparent;
  &:active {
    background: var(--color-range-border) !important;
  }
  &:hover {
    background: var(--color-unselected-control-frame-hover);
  }
}