header,
.header {
    background-color: var(--color-control-background);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    padding: 4px 0 0px;
}

header nav,
.nav {
    display: flex;
}

header nav a,
.nav-item,
.logo {
    color: var(--color-global-foreground);
    text-decoration: none;
    background-color: var(--color-tab-background);
    position: relative;
    height: 21px;
    display: flex;
    align-items: center;
    min-width: 160px;
    margin-right: -1px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid var(--color-tab-frame);
    border-left: 1px solid var(--color-tab-frame);
    border-right: 1px solid var(--color-tab-frame);
    border-top: 1px solid var(--color-tab-frame);

    &:active,
    &.is-active {
        background-color: var(--color-accent);
        border-bottom: none;
        font-weight: bold;
    }
}

.logo {
    min-width: 0;
}