body {
  background-color: var(--color-global-background);
  color: var(--color-black);
  font-family: var(--font-global);
  font-size: 14px;
  line-height: 20px;
}

::-moz-selection { /* Code for Firefox */
  color: var(--color-selected-foregroud);
  background: var(--color-selected-background);
}
  
::selection {
  color: var(--color-selected-foregroud);
  background: var(--color-selected-background);
}