//@font-face {
//    font-family: 'w95fa';
//    src: url('../fonts/w95fa.woff2') format('woff2'),
//         url('../fonts/w95fa.woff') format('woff'),
//         url('../fonts/w95fa.otf') format('otf');
//    font-weight: normal;
//    font-style: normal;
//}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Light'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format('woff2'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format('woff'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Semilight'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format('woff2'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format('woff'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format('woff2'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format('woff'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Semibold'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format('woff2'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format('woff'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Segoe UI';
  src: local('Segoe UI Bold'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format('woff2'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format('woff'),
  url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format('truetype');
  font-weight: 700;
}

h1 {
  line-height: 44px;
}
h2 {
  line-height: 36px;
}
h3 {
  line-height: 28px;
}
h4 {
  line-height: 24px;
}
h5 {
  line-height: 20px;
}
h6 {
  line-height: 20px;
}