* {
  // Spacing
  --spacing-base: 4px;
  --spacing-1: calc(var(--spacing-base) * .5); // 2px
  --spacing-2: calc(var(--spacing-base)); // 4px
  --spacing-3: calc(var(--spacing-base) * 2); // 8px
  --spacing-4: calc(var(--spacing-base) * 3); // 12px
  --spacing-5: calc(var(--spacing-base) * 4); // 16px
  --spacing-6: calc(var(--spacing-base) * 8); // 32px
  --spacing-7: calc(var(--spacing-base) * 10); // 40px
  --spacing-8: calc(var(--spacing-base) * 16); // 64px
  --spacing-9: calc(var(--spacing-base) * 20); // 80px
  --spacing-10: calc(var(--spacing-base) * 30); // 120px

  // Fonts
  --font-global: "Segoe UI";

  // Colors
  --color-selected-control-frame: #0078d7;
  --color-unselected-control-frame: #7a7a7a;
  --color-unselected-control-frame-hover: #171717;
  --color-disabled-control-background: #f0f0f0;
  --color-disabled-control-foreground: #6d6d6d;
  --color-disabled-control-frame: #cccccc;
  --color-input-background: white;
  --color-selected-background: #0078d7;
  --color-selected-foregroud: white;
  --color-button-background-gradient: linear-gradient(#efefef, #e5e5e5);
  --color-button-background: #e1e1e1;
  --color-button-foreground: black;
  --color-button-frame: #adadad;
  --color-button-clicked-background: #cce4f7;
  --color-button-clicked-frame: #005499;
  --color-button-hovered-background: #e5f1fb;
  --color-button-hovered-frame: #0078d7;
  --color-button-disabled-frame: #bfbfbf;
  --color-button-disabled-background: #cccccc;
  --color-button-disabled-foreground: #afa0a8;
  --color-number-button-frame: #acacac;
  --color-number-button-frame-outer: #f0f0f0;
  --color-range-border: #d6d6d6;
  --color-range-background: #e7eaea;
  --color-groupbox-border: #dcdcdc;
  --color-progressbar-border: #dcdcdc;
  --color-progressbar-background: #e6e6e6;
  --color-progressbar-foreground: #06b025;
  --color-progressbar-flash: #90ee8d;
  --color-scrollbar-background: #f0f0f0;
  --color-scrollbar-body: #cccccc;
  --color-scrollbar-body-hovered: #a6a6a6;
  --color-scrollbar-arrow-foreground: #606060;
  --color-scrollbar-arrow-hovered: #dadada;
  --color-scrollbar-arrow-clicked: #606060;
  --color-scrollbar-arrow-clicked-foreground: white;
  --color-tab-active-background: #f5f6f7;
  --color-tab-active-foreground: #646464;
  --color-tab-background: white;
  --color-tab-foreground: #646464;
  --color-tab-frame: #a0a0a0;
  --color-header-background: white;
  --color-header-foreground: black;
  --color-global-background: #f5f6f7;
  --color-global-foreground: black;
  --color-global-frame: black;
}