.dialog-body {
    padding: var(--spacing-3);
}

dialog,
.dialog {
    &:not(.fixed-dialog) {
        animation: dialog-showup 250ms linear normal forwards;
    }

    &.is-sm {
        .dialog-body {
            padding: 0;
        }
    }
    &.is-md {
        .dialog-body {
            padding: var(--spacing-3);
        }
    }
    &.is-lg {
        .dialog-body {
            padding: var(--spacing-4);
        }
    }
    &.is-xl {
        .dialog-body {
            padding: var(--spacing-6);
        }
    }
}
@keyframes dialog-showup {
    from {
        opacity: 0;
        transform: scale(0) translateY(calc(100vh));
        transform-origin: right bottom;
    }
    //99% {
    //    opacity: unset;
    //    transform: scale(1) translateX(0) translateY(0);
    //}
    to {
        opacity: unset;
        transform: unset;
    }
}