dialog,
.dialog {
    background-color: var(--color-control-background);
    box-shadow: 0 0 2px 0 var(--color-global-frame);
    border: 1px solid var(--color-global-frame);
    padding: var(--spacing-3);
    position: relative;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);

    &.is-sm {
        min-width: 300px;
    }
    &.is-md {
        min-width: 320px;
    }
    &.is-lg {
        min-width: 340px;
    }
    &.is-xl {
        min-width: 400px;
    }
}