hr {
    border-top: 1px solid var(--color-unselected-control-frame);
    border-bottom: 1px solid var(--color-input-background);
    height: 2px;
    width: 100%;
    &.is-horizontal {
        width: 2px;
        height: 100%;
        border-left: 1px solid var(--color-unselected-control-frame);
        border-right: 1px solid var(--color-input-background);
    }
}