// TODO: scrollbar not showing in Firefox

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-scrollbar-background);
}

::-webkit-scrollbar-thumb {
  transition: background-color 1s ease; // TODO: fix animation here
  background-color: var(--color-scrollbar-body);

  &:hover { // no active needed here, same color
    background-color: var(--color-scrollbar-body-hovered);
  }
}

::-webkit-scrollbar-button {
  display: block;
  background-color: var(--color-scrollbar-background);
  background-position: center;
  background-repeat: no-repeat;

  &:active { // TODO: fix active not working (bruh)
    background-color: var(--color-scrollbar-arrow-clicked);
  }

  &:hover {
    background-color: var(--color-scrollbar-arrow-hovered);
  }
}

::-webkit-scrollbar-button:vertical {
  width: 16px;
  height: 17px;
}
::-webkit-scrollbar-button:horizontal {
  width: 17px;
  height: 16px;
}

::-webkit-scrollbar-button:vertical:start:decrement { // TODO: change all svg here
  background-size: 7px 6px;
  background-image: url("./res/ScrollBar_ArrowUp.png");
}

::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-size: 7px 6px;
  background-image: url("./res/ScrollBar_ArrowDown.png");
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  background-size: 6px 7px;
  background-image: url("./res/ScrollBar_ArrowLeft.png");
}

::-webkit-scrollbar-button:horizontal:start:increment {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:decrement {
  display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  background-size: 6px 7px;
  background-image: url("./res/ScrollBar_ArrowRight.png");
}

::-webkit-scrollbar-corner {
  background-color: var(--color-scrollbar-background);
}