.tab {
    background-color: var(--color-tab-background);
    position: relative;
    margin-right: -1px;
    padding: 0 8px 0;
    border-top: 1px solid var(--color-tab-frame);
    border-left: 1px solid var(--color-tab-frame);
    border-right: 1px solid var(--color-tab-frame);

    &:hover {
        background-color: var(--color-tab-hovered-background);
    }
    &:after,
    &:active:after,
    &:not(:active):focus:after {
        background-color: var(--color-tab-active-background);
        top: -2px;
    }

    &:active,
    &.is-active,
    &:not(:active):focus {
        background-color: var(--color-tab-active-background); // TODO: fix no bottom-border should be shown when focused
        z-index: 99;
        height: 23px;
        margin-right: -2px;
        margin-left: -2px;
        padding-left: 8px;
        padding-right: 8px;
    }
}